modules = ["web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "sqlite"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33787
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "autoscale"
run = ["python", "app.py"]

[objectStorage]
defaultBucketID = "replit-objstore-ad1ef735-1be2-430d-b333-ddfbce1cdf05"
