Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate>=4.0.0
werkzeug
openai
python-dotenv
openpyxl
pandas
google-cloud-storage
google-auth
replit-object-storage
requests
sift-stack-py
psycopg2-binary
openai
Pillow
msal
